header{
  background:#999;
  color: gray;
  padding: 10px;
  font-size: 15px;
}
body{
  margin: 0;
  background-color: black;
  font-family: "THE정고딕140";
}
a{
  color: black;
  text-decoration: none;
}
#intro {
  text-align: center;
  color: white;
  margin: 5px;
  padding: 25px;
  border: solid 1px;
}
#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#blank{
  padding: 25px;
  background-image: url("JJong.png");
  background-size: 100%;
  width: 640px;
  height: 640px;
}
#comming{
  text-align: center;
  color: white;
  font-size: 50px;
}
