header{
  background:#999;
  color: gray;
  padding: 10px;
  font-size: 15px;
}
.r_top {
    background-image: url('logo.png');
    background-position: 45px 10px;
    background-repeat: no-repeat;
    padding-top: 25px;
}
body{
  margin: 0;
  -webkit-animation: scaleUpDown 1s ease both;
  animation: scaleUpDown 1s ease both;
}
@keyframes scaleUpDown {
	from { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
}
a {
  color:black;
  text-decoration: none;
}
h1 {
  font-size:45px;
  text-align: center;
  border-bottom:5px double gray;
  margin:0;
  padding:20px;
}
h2{
  margin-left: 25px;
}
p{
  margin-left: 25px;
}
ol{
  border-right:5px double gray;
  width:100px;
  margin:0;
  padding:20px;
}
/* #header{
  width: 100%;
  padding: 10px;
  font-size: 15px;
  background-color: #999;
  position: fixed;
  -webkit-animation: ani_dropdown .3s
  cubic-bezier(.215,.61,.355,1);
  animation: ani_dropdown .3s
  cubic-bezier(.215,.61,.355,1);
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: ani_dropdown;
} */
#future-plan{
  color: rgb(245, 209, 183);
}
#present{
  color: rgb(248, 140, 101);
}
#zero{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#first{
  display: block;
  grid-template-columns: 1fr 1fr;
}
#first ol{
  padding-left:33px;
}
#article1{
  padding-left: 25px;
  padding-right: 25px;
}
#article2{
  padding-left:25px;
  padding-right: 25px;
}
#second #article3{
  padding-left:25px;
  padding-right:25px;
}
@media(max-width:800px){
  #first{
    display: block;
  }
  ol{
    border-right:none;
  }
  h1 {
    border-bottom:none;
  }
}
